<div *ngIf="user.ID == -1">
    <h1 class="productTitle">Login</h1>
    <div align="center">
        <br>
        <form class="addform" (ngSubmit)="onSubmit()" #createForm="ngForm">
            <div class="form-group">
                <label class="addLabel" for="Name">Username</label>
                <input id="Name" type="text" class="form-control" placeholder="Enter username" required [(ngModel)]="login.Username" name="Name">
            </div>
            <div class="form-group">
                <label class="addLabel" for="Calories">Password</label>
                <input id="Calories" type="password" class="form-control" placeholder="Enter password" required [(ngModel)]="login.Password" name="Calories">
            </div>
            <button type="submit" class="btn btn-primary upbtn">Login</button>
        </form>
    </div>
</div>
<div *ngIf="user.ID != -1">
    <h1 class="productTitle">Welcome {{user.FirstName}}</h1>
    <div align="center">
        <br>
        <h2>Your Cart</h2>
        <div class="container">
          <button class="buttonCard"
          *ngFor="let product of user.Cart"
          (click)="removeFromCart(product)">
          <div class="card">
              <h1 class="productTitle2" >{{product.Name}}</h1>
              <p style="text-wrap: wrap;">Ingredients: <br>{{product.Ingredients}}</p>
              <p>Calories: {{product.Calories}}</p>
              <p>Price: {{product.Price}}</p>
          </div>
        </button>
    </div>
    </div>
    <h2 align="center">Add Products To Cart</h2>
    <div class="container">
      <button class="buttonCard"active
      *ngFor="let product of products"
      (click)="addToCart(product)">
          <div class="card">
              <h1 class="productTitle2" >{{product.Name}} | {{product.Qty}} In Stock</h1>
              <p style="text-wrap: wrap;">Ingredients: <br>{{product.Ingredients}}</p>
              <p>Calories: {{product.Calories}}</p>
              <p>Price: {{product.Price}}</p>
          </div>
      </button>
  </div>
</div>
